name: Build
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - uses: julia-actions/setup-julia@v1
      with:
          version: '1.7'
    - uses: julia-actions/julia-buildpkg@latest
    - run: julia --project src/ExactODEReduction.jl
